#third-p{
    background-color: aquamarine;
    width: 500px;
}
ul{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
    font-style: italic;
    color:darkblue;
}
